/* This is the main global CSS file for your app.
  We are adding a background-color to the body
  to fix the white "overscroll" or "drag" issue.
*/


/* --- EDITED: Switched to height: 100% --- */
html {
  /* This forces the html element to be 100% of the viewport */
  height: 100%;
  /* EDITED: Set background color on HTML as well */
  background-color: #fcf4f5;
  overflow: hidden;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* --- EDITED: Set color and height on body --- */
  /* Apply the background color to the body */
  background-color: #fcf4f5;
  /* Force the body to also be 100% of its parent (html) */
  height: 100%;
  overflow: hidden;


  /* This IS working, so we keep it */
  overflow-x: clip;
}


/* --- EDITED: Use height: 100% for the app root --- */
#root, .App {
  /* EDITED: Make the React app fill the body */
  height: 100%;
  /* --- NEW: This makes your APP scrollable, not the page --- */
  overflow-y: auto;
  overflow-x: clip;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

